  
{% extends 'Admin/header_footer.html' %}
    
{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title"></h2>
        </div>
    </section>
</div>
<!-- banner bottom shape -->
<div class="position-relative">
    <div class="shape overflow-hidden">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- banner bottom shape -->
<!-- contacts -->
<section class="w3l-contact-7 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <h3 class="title-big">Add Catagory...</h3><br>
                        <br>
                        <form action="/add_cat/" method="post" class="text-right">
                            {% csrf_token %}
                            <div class="form-grid">
                          
                            <input  id='name' name='cat' placeholder='Catagory Name' type='text'>
                            <button type="submit" class="btn btn-primary btn-style mt-3">ADD</button>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>

   {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}




















{% endblock %}