  
{% extends 'Police/header_footer.html' %}
    
{% block content %}
<style>
    .zm {
        background-color: #eb7120;
        color: #fff;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
</style>
<div class="inner-banner">
    <section class="w3l-breadcrumb py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title"></h2>
        </div>
    </section>
</div>
<!-- banner bottom shape -->
<div class="position-relative">
    <div class="shape overflow-hidden">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- banner bottom shape -->
<!-- contacts -->
<section class="w3l-contact-7 py-5" id="contact">
    <div class="contacts-9 py-lg-5 py-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <h3 class="title-big">Add Case Details here...</h3><br>
                        <br>
                        <form action="/upload/" method="post" class="text-right" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-grid">
                          
                    <input  id='name' name='fir_number' placeholder='FIR Registration Number'  required="" type='text'>
                    <input  id='name' name='officer_name' placeholder='Investigation Officer Name' required="" type='text'>
                    <input  id='name' required=""  name='date_of_fir' placeholder='Date' type='date'>



                  
                    <input name='id_comp' value={{com_id}} type="hidden">

{% for x in var %}
                    <input  id='name'required=""  name='station_name' value="{{x.Plc_Name}}" placeholder='Police station Name' type='text'>
                   {% endfor %}
                    
<textarea id="myTextarea" required="" name="evidence" placeholder="Evidence..">
</textarea>
<textarea id="myTextarea" required="" name="findings" placeholder="Findings..">
</textarea>
{% for x in var1 %}
<textarea id="myTextarea" required="" name="Petitioner_data" placeholder="Petitioner Details..">
     Petitioner Name:{{x.petitioner_name}},
     Address:{{x.petitioner_address}},{{x.petitioner_district}},
     {{x.petitioner_state}},{{x.petitioner_pin}}
</textarea>
{% endfor %}
<textarea id="myTextarea" style="opacity:0;" placeholder="Your address..">
</textarea>

                    <!-- <input  id='name' name='Lw_Catgry' placeholder='Case Category' type='file'> -->


                    <input type="file" required="" name="fir" accept="image/png, image/jpeg" id="actual-btn" required="" hidden />
                    <label class="zm" for="actual-btn">Upload Written FIR</label><br>
                    <!-- <span id="file-chosen">No file chosen(only jpg, jpeg, png)</span> -->
                


                            <button type="submit" class="btn btn-primary btn-style mt-3">submit</button>
                        </form>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>

   {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}





<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })

</script>

















{% endblock %}